/**
 * Buttons
 */

.btn {
  outline: 0;
  padding: 10px;
  font-size: 1.5em;
  font-family: $font-face-main;

  &:active,
  &:focus,
  &:hover,
  &:focus:active {
    outline: 0;
    color: white;
  }

  &.got-it {
    min-width: 60%;
    margin: 10px auto;
    background-color: darken($color-turqoise, 15%);
  }

}
