/**
 * Card
 */

.card,
.flipper,
#card-container {
  transition: 0.4s;
}
#card-container,
.flipper,
.front, .back {
  width: 100%;
  height: 100%;
}

#card-container {
  transform: translate3d(100%,0,0);

  &.on-screen {
    transform: translate3d(0,0,0);
  }
}
.card {
  position: relative;
  float: left;
  -webkit-perspective: 1000;
}

&.flipped {
  z-index: 99;
  .flipper, .back{
    transform: rotateY(180deg);
  }
}
&.found {
  transform: scale(0);
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.front, .back {
  backface-visibility: hidden;

  box-shadow: inset 0 0 0 1px #FFF;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #435;
}

.back {
  display: table;
  transform: rotateY(180deg);
  background-color: #439;

  .icon {
    color: #FFF;
    font-size: 2.5em;

    @media all and (min-width: 415px) {
      font-size: 4em;
    }
  }
}
