/**
 * Heading
 */

.heading {
  font-family: $font-face-main;

  &.main-heading {
    margin: 50px 0 50px;
    color: white;
    text-shadow: 1px 1px 3px darken($color-space-grey, 10%);
  }
  .larger {
    display: block;
    font-size: 200%;
  }
}
