/**
 * Icons
 */

.icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  &.icon-inline {
    display: inline-block;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: $font-icons;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Card icons (numerical for ease of use)
.icon-00:before { content: '\e800'; }
.icon-01:before { content: '\e801'; }
.icon-02:before { content: '\e802'; }
.icon-03:before { content: '\e803'; }
.icon-04:before { content: '\e804'; }
.icon-05:before { content: '\e805'; }
.icon-06:before { content: '\e806'; }
.icon-07:before { content: '\e807'; }
.icon-08:before { content: '\e808'; }
.icon-09:before { content: '\e809'; }
.icon-10:before { content: '\e80a'; }
.icon-11:before { content: '\e80b'; }
.icon-12:before { content: '\e80c'; }
.icon-13:before { content: '\e80d'; }
.icon-14:before { content: '\e80e'; }
.icon-15:before { content: '\e80f'; }
.icon-16:before { content: '\e810'; }
.icon-17:before { content: '\e811'; }
.icon-18:before { content: '\e812'; }
.icon-19:before { content: '\e813'; }
.icon-20:before { content: '\e814'; }
.icon-21:before { content: '\e815'; }
.icon-22:before { content: '\e816'; }
.icon-23:before { content: '\e817'; }
.icon-24:before { content: '\e818'; }
.icon-25:before { content: '\e819'; }
.icon-26:before { content: '\e81a'; }
.icon-27:before { content: '\e81b'; }
.icon-28:before { content: '\e81c'; }
.icon-29:before { content: '\e81d'; }
.icon-30:before { content: '\e81e'; }
.icon-31:before { content: '\e81f'; }

// Other icons
.icon-beer:before { content: '\e820'; }

.info-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-info {
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-turqoise;
  color: #FFF;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-shadow: 1px 1px 3px darken($color-turqoise, 20%);
  box-shadow: 1px 1px 3px darken($color-space-grey, 10%);

  &:after {
    font-size: 2em;
    font-style: normal;
    font-family: $font-face-main;
  }
  &:after {
    content: '?';
    top: 0;
  }

  &.active {
    &:after {
      top: -100%;
    }
  }

}
