/**
 * Icons
 */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-00:before  { content: '\e800'; }
.icon-01:before  { content: '\e801'; }
.icon-02:before  { content: '\e802'; }
.icon-03:before  { content: '\e803'; }
.icon-04:before  { content: '\e804'; }
.icon-05:before  { content: '\e805'; }
.icon-06:before  { content: '\e806'; }
.icon-07:before  { content: '\e807'; }
.icon-08:before  { content: '\e808'; }
.icon-09:before  { content: '\e809'; }
.icon-010:before { content: '\e80a'; }
.icon-011:before { content: '\e80b'; }
.icon-012:before { content: '\e80c'; }
.icon-013:before { content: '\e80d'; }
.icon-014:before { content: '\e80e'; }
.icon-015:before { content: '\e80f'; }
.icon-016:before { content: '\e810'; }
.icon-017:before { content: '\e811'; }
.icon-018:before { content: '\e812'; }
.icon-019:before { content: '\e813'; }
.icon-020:before { content: '\e814'; }
.icon-021:before { content: '\e815'; }
.icon-022:before { content: '\e816'; }
.icon-023:before { content: '\e817'; }
.icon-024:before { content: '\e818'; }
.icon-025:before { content: '\e819'; }
.icon-026:before { content: '\e81a'; }
.icon-027:before { content: '\e81b'; }
.icon-028:before { content: '\e81c'; }
.icon-029:before { content: '\e81d'; }
.icon-030:before { content: '\e81e'; }
.icon-031:before { content: '\e81f'; }
