/**
 * Modal
 */

.md-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  visibility: hidden;
}
.md-modal {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  max-width: 630px;
  min-width: 300px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  perspective: 1300px;

  @media all and (min-width: 415px) {
    top: 30%;
  }

  &.md-show {
    visibility: visible;

    .md-content {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
}

.md-overlay {
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba($color-space-grey,0.8);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/**
 * Modal styles
 */

.md-content {
  transform-style: preserve-3d;
  transform: rotateY(-70deg);
  transition: all 0.3s;
  opacity: 0;

  position: relative;
  margin: 0 auto;
  color: white;
  background: $color-turqoise;
  border-radius: 3px;

  h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
  }

  .md-inner-content {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
  }

  .donation {
    margin: 10px 0 0;
    font-size: 1em;
  }
}
