.splash-screen {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $color-space-grey;

  .heading {
    &.main-heading {
      margin-top: 0;
    }
  }
}
.start-screen {
  opacity: 0;
}

.start-screen, .splash-screen {
  transition: 1s;

  &.showme {
    opacity: 1;
  }
  &.hideme {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen-inner {
  text-align: center;
  max-width: 500px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.spinner-container {
  margin: auto;
  width: 40px;
  height: 40px;
}
.spinner {
  width: 100%;
  height: 100%;
  background-color: lighten($color-pink, 8%);

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
