/**
 * Variables
 */

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$font-icons: 'fontello';
$font-face-main: 'Patua One', cursive;

/**
 * Colours
 */

$color-coral: #f26964;
$color-turqoise: #33cd9b;
$color-cream: #e6d7b8;
$color-dark-purple: #2f3059;
$color-pink: #ef496b;
$color-space-grey: #414B57;
$color-purple: #435;
$color-light-purple: #439;
