$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'variables';
@import 'mixins';

@import 'base';
@import 'layout';

@import 'btn';
@import 'list';
@import 'icons';
@import 'fonts';

@import 'heading';
@import 'card';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  transition: 0.4s;
  text-align: center;

  &.exit-left {
    transform: translate3d(-100%,0,0);
  }
}
