// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'base';
@import 'layout';

@import 'splash-screen';

@import 'modal';

@import 'fonts';
@import 'btn';
@import 'list';
@import 'icons';
@import 'heading';

@import 'hero';
@import 'card';
@import 'timer';

body {
  position: relative;
  margin-top: 40px;
  background-color: $color-space-grey;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: 0.4s;
  text-align: center;

  background-color: $color-space-grey;

  &.exit-left {
    transform: translate3d(-100%,0,0);
  }
}
