// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'base';
@import 'layout';

@import 'modal';

@import 'fonts';
@import 'btn';
@import 'list';
@import 'icons';
@import 'heading';

@import 'hero';
@import 'card';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: 0.4s;
  text-align: center;

  background-color: $color-space-grey;

  &.exit-left {
    transform: translate3d(-100%,0,0);
  }
}
